//glogal variables
@pageWidth: 1024px;

@fontFamily: Helvetica Arial;

@languageNavFontSize: 16px;
@optionNavFontSize: 19px;
@userNameFontSize: 25px;

@defaultImgBorderColor: #fff;
@defaultBoxBorderColor: #000;

@defaultBorderWidth: 3px;
@defaultBorderStyle: solid;
@defaultBorderColor: #000;

@defaultRadius: 20px;

@fontColorBlack: #000;
@fontColorWhite: #fff;

@rightSideWhite: #fff;
@rightSideGrey: #d9d9d8;

@defaultThemeColor: #FF0000;

@headerColor: @defaultThemeColor;

@aColor: #4A4245;
@aSelectedColor: @defaultThemeColor;
@aHoverColor: @defaultThemeColor;
@aVisitedColor: #4A4245;

@placeholderTextColor: #4A4245;

@searchBackground: transparent;
@searchBorder: #a1a1a1;

@footerColor: #fff;
@footerBgColor: #4A4245;
@footerBorder: @defaultThemeColor;

//rounded corners related
.RoundedShape(@radius:@defaultRadius) {
    -webkit-border-radius: @radius;
       -moz-border-radius: @radius;
            border-radius: @radius;
}
 
.Round {
    .RoundedShape(9999px);
}
 
.RoundedSquare(@radius:@defaultRadius) {
    .RoundedShape(@radius);
}

.squareRoundedCorners {
  .RoundedSquare;
}

//linear gradient related
.LinearGradient(@stop1:0, @color1:#ccc, @stop2:50%, @color2:#ddd, @stop3:100%, @color3:#ccc) {
  background-color: @color1;
  background:    -webkit-gradient(linear, left top, left bottom, color-stop(@stop1, @color1), color-stop(@stop2, @color2),
      color-stop(@stop3, @color3));
  background:-moz-linear-gradient(top, @color1 @stop1, @color2 @stop2, @color3 @stop3);
  background: -ms-linear-gradient(top, @color1 @stop1, @color2 @stop2, @color3 @stop3);
  background:  -o-linear-gradient(top, @color1 @stop1, @color2 @stop2, @color3 @stop3);
  background:     linear-gradient(top, @color1 @stop1, @color2 @stop2, @color3 @stop3); 
 //for IE - this will work - need to do a separate stylesheet thow
  -pie-background:linear-gradient(@color1, @color2);
  behavior: url(./css/PIE.htc);
  // filter:e(%("progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=%d,endColorstr=%d)",@color1, @color2)); 
}

.greyLinearGradient {
  .LinearGradient(0%, @rightSideWhite, 100%, @rightSideGrey);
}

//border related
.BorderStyle(@bWidth: @defaultBorderWidth, @bStyle: @defaultBorderStyle, @bColor: @defaultBorderColor) {
  border: @bWidth @bStyle @bColor;  
}

.boxBorder(@bWidth: @defaultBorderWidth, @bStyle: @defaultBorderStyle, @bColor: @defaultBorderColor) {
  .BorderStyle(@bWidth, @bStyle, @bColor);
}

//blackBorder
.boxBorderType1 {
  .boxBorder;
}

::-webkit-input-placeholder {
  color: @placeholderTextColor;
}

:-moz-placeholder {
  color: @placeholderTextColor;
}

//general style for page elements
body {
  width: @pageWidth;
  margin: 0 auto;
  font-family: @fontFamily;
  position: relative;
  border: 1px solid #ccc;
  -moz-box-shadow: 0 1px 10px 0 #a1a1a1;
  -webkit-box-shadow: 0 1px 10px 0 #a1a1a1;
  box-shadow: 0 1px 10px 0 #a1a1a1;
}

header {
  overflow: hidden;
}

footer {
  text-align: center;
  padding: 5px 0;
  background: @footerBgColor;
  color: @footerColor;
  // border-top: 2px solid @footerBorder;
}

// section {
  // margin: 10px 0 10px 0;
  // position: relative;
// }
// 
// footer {
  // height: 60px;
  // padding: 10px;
  // text-align: center;
  // color: @fontColorWhite;
// }

#left-container {
  float: left;
  margin: 5px 0 0 30px;
  font-size: 90px;
  color: #4A4245;
  text-shadow: #CCC 3px 0px 3px;
  font-family: Helvetica;
}

#right-container {
  float: right;
  margin: 0 20px 0 0;
}

#fixed-orange-line {
  position: static;
  top: 0;
  height: 7px;
  background: @headerColor;
}

a {
  color: @aColor;  
}

a:selected {
  color: @aSelectedColor;
}

a:hover {
  color: @aHoverColor;
}

a:visited {
  color: @aVisitedColor;
}

//horizontal menus (language and option menu and genre menu)
.horizontal-menu {
  overflow: hidden;
  margin: 5px 0;
}

.horizontal-menu ul li {
  line-height: 30px;
  float: left;
  margin: 0 0 0 5px;
}

.horizontal-menu ul li a {
  text-decoration: none;
  margin: 0 15px;
}

.horizontal-menu ul li a:hover {
  color: @aHoverColor;
}

//option menu
#option-menu {
  float: right;
}

#option-menu ul {
  display: block;
  font-size: @optionNavFontSize;
  float: left;
}

//search box
#search-container {
  overflow: hidden;
  margin: 9px 15px 13px 0;
  border-top: 1px solid #CCC;
  padding: 13px 0 0 0;
}

#search {
  float: right;
  padding: 0 2px 0 25px;
  border: 1px solid @searchBorder;
  background: url('../img/search_icon.png') no-repeat 10px 9px @searchBackground;
}

.status-update {
  border: 0;
  padding: 5px;
  cursor: text;
  width: 150px;
  color: #4A4245;
  -webkit-user-modify: read-write-plaintext-only;
  -moz-user-modify: read-write;
  -ms-user-modify: read-write-plaintext-only; 
  -webkit-line-break: after-white-space;
  -webkit-nbsp-mode: space;
  word-wrap: break-word;
  outline-width: 0px;
  direction: ltr;
  unicode-bidi: embed;
  background: 'img/search_icon.png' no-repeat;
}

.bold {
  font-weight: bold;
}

.selected {
  .bold;
}
